/* Full Page Style */

body {
    background-color: beige;
    font-size: 25px;
    font-family: 'Stick No Bills', sans-serif;
}


/* Upper Horizontal bar including the highscore button and countdown */
nav {
    display: flex;
    height: 80px;
    position: relative;
}

#scorebtn {
    justify-content: flex-end;
    align-self: center;
    width: 90%;
    margin-left: 10px;
    
}

#scorebtn button {
    background-color: rgb(6, 99, 6); 
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

#timer {
    display: flex;
    width: 10%;
    align-items: flex-end;
    text-align: right;
    align-self: center;
}

/* Includes the heading "Coding Quiz Challenge" and sections called questions, done and scores */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Includes First section */
h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 20px;
}

#startbtn {
    background-color: rgb(6, 99, 6); 
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

/* Question section */
h2 {
    font-size: 30px;
}

#answers {
    display: flex;
}

#answers li {
    align-items: center;
    height: 60px;
    line-height: 1.5;
}

.ansbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 99, 6); 
    margin: 5px 0;
    border-radius: 12px;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

/* Done section which shows score and presents text box for initials */
h3 {
    font-size: 30px;
}

#done p {
    margin: 10px;
}

#initials {
    height: 25px;
    border-radius: 12px;
    border-color: gray;
}

/* Scores sections which shows list of high scores and gives buttons to return to the start screen or clear the high score list */
h5 {
    font-size: 30px;
    margin: 20px;
}

#hs {
    margin: 20px;
}

#buttons {
    margin-left: 40px;
}

#backbtn {
    background-color: rgb(6, 99, 6); 
    border-radius: 12px;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

#clearbtn {
    background-color: rgb(6, 99, 6); 
    border-radius: 12px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin-left: 30px;
}

















